.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 2px;
    width: 400px; /* Adjust width as needed */
    height: 400px; /* Adjust height as needed */
}

.cell-white {
    background-color: #eee;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell-black{
    background-color: black;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}