.checkers-board {
    display: grid;
    grid-template-columns: repeat(8, 60px);
    grid-template-rows: repeat(8, 60px);
}

.cell {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell-black {
    background-color: #d18b47;
}

.cell-white {
    background-color: #ffce9e;
}

.piece {
    font-size: 40px;
}

.piece-black {
    color: black;
}

.piece-white {
    color: white;
}

.cell-highlight {
    background-color: #76baff !important;
}
